input {
    width: 80%;
}
label {
    font-weight: bold;
}
button {
    background-color: indianred;
    color: white;
    width: 80%;
    font-weight: bold;
    cursor: pointer;
}
img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
#user_form {
    display: block;
}
#resume {
    display: none;
}